[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"
ipython = "*"
pytest = "*"
factory-boy = "*"

[packages]
sqlalchemy = "*"
faker = "*"
mimesis = "*"
psycopg2 = "*"
click = "*"

[requires]
python_version = "3.7"
